:root {
    font-family: Computer Modern Sans;
    font-weight: normal;
    font-size: 13pt;
    color: #000000;
}


body {
    margin: 0px;
    padding: 2vh 2%;
    height: 96vh;
    width: 96%;
    max-height: 100%;
    max-width: 100%;
    background-color: #ffffff;
}

.header {
    text-align: center;
    padding: 10px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.header * {
    display: inline-block;
    max-height: 100%;
}

.panel {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.panel * {
    display: inline-block;
    max-height: 100%;
}


#title {
    font-size: 270%;
    font-weight: bold;
    line-height: 55px;
    padding: 0px 0px 5px 0px;
}

#subtitle {
    font-size: 140%;
    font-weight: bold;
    line-height: 50px;
}

#links {
    padding: 1%;
}

#links img {
    height: 35px;
    padding: 0px 20px;
}

.nav-button {
    text-decoration: underline dotted;
    text-decoration-thickness: 0.05em;
    color: inherit;
    transition: color 0.3s;
}

.divider {
    padding: 0px 5px;
}

.nav-button:hover {
    color: #a44a0b;
    transition: color 0.3s;
}


.panel-content {
    font-size: 120%;
    width: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.panel-content p {
    margin: 0.6% 0%;
}

.panel-content ul {
    margin: 0.6% 0%;
}

.panel-content li {
    margin: 0.3%;
    display: list-item;
}

.panel-content li::marker {
    content: "∗  ";
}

.panel-content p, .panel-content li {
    line-height: 27px;
}

.footer {
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.footer * {
    display: inline-block;
    max-height: 100%;
}

.webpage-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attribution {
    font-size: 80%;
    opacity: 80%;
}

.project-title {
    font-size: 130%;
    font-weight: bold;
}

.project {
    background-color: unset;
    padding: 13px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.project:hover {
    transition: background-color 0.3s;
    background-color: #eeeeee;
}

.project-skills {
    font-size: 80%;
    font-style: italic;
    margin: 0px !important;
}

.skills-header {
    display: flex;
}

.skills-header:hover + .popup {
    display: flex;
}

.popup {
    display: none;
}
